node_modules
cypress/reports/html/
cypress/screenshots/stg-old-adm-crtappt.cy.js/Vendor Admin  logged with Admin credentials -- Verify it is possible to add a new staff - Admin credentials -- before each hook (failed).png
cypress/downloads/downloads.htm
cypress/screenshots/bv-stg-crtapt.cy.js/Vendor Admin  logged with Staff credentials -- Vendor Admin  Calendar  Create appointments by Clicking on the calendar logged with Staff credentials -- Verify it is possible to create an appointment over and already taken time slot - Staff Credential.png
cypress/screenshots/bv-stg-crtapt.cy.js/Vendor Admin  logged with Staff credentials -- Vendor Admin  Calendar  Create appointments by Clicking on the calendar logged with Staff credentials -- Verify it is possible to create an appointment searching and selecting customer from vendor - Staf.png
cypress/screenshots/bv-stg-crtapt.cy.js/Vendor Admin  logged with Staff credentials -- Vendor Admin  Calendar  Create appointments by Clicking on the calendar logged with Staff credentials -- Verify it is possible to edit the Customer - Staff credentials (failed).png
cypress/screenshots/bv-stg-crtapt.cy.js/Vendor Admin  logged with Staff credentials -- Vendor Admin  Calendar  Create appointments by Clicking on the calendar logged with Staff credentials -- Verify The edit appointment modal is display after clicking on Edit booking button - Staff credent.png
cypress/screenshots/bv-stg-crtapt.cy.js/Vendor Admin  logged with Staff credentials -- Vendor Admin  Calendar  Create appointments by Clicking on the calendar logged with Staff credentials -- Verify the New appointment modal is hidden after creating successfully an appointment - Staff  (1).png
cypress/screenshots/bv-stg-crtapt.cy.js/Vendor Admin  logged with Staff credentials -- Vendor Admin  Calendar  Create appointments by Clicking on the calendar logged with Staff credentials -- Verify the New appointment modal is hidden after creating successfully an appointment - Staff  (2).png
cypress/screenshots/bv-stg-crtapt.cy.js/Vendor Admin  logged with Staff credentials -- Vendor Admin  Calendar  Create appointments by Clicking on the calendar logged with Staff credentials -- Verify the New appointment modal is hidden after creating successfully an appointment - Staff cred.png
cypress/screenshots/bv-stg-crtapt.cy.js/Vendor Admin  logged with Staff credentials -- Vendor Admin  Calendar  Create appointments by Clicking on the calendar logged with Staff credentials -- Verify the New appointment modal is hidden after creating successfully an ovelap appointment - Sta.png
mochawesome-report/mochawesome.html
mochawesome-report/mochawesome.json
mochawesome-report/assets/app.css
mochawesome-report/assets/app.js
mochawesome-report/assets/app.js.LICENSE.txt
mochawesome-report/assets/MaterialIcons-Regular.woff
mochawesome-report/assets/MaterialIcons-Regular.woff2
mochawesome-report/assets/roboto-light-webfont.woff
mochawesome-report/assets/roboto-light-webfont.woff2
mochawesome-report/assets/roboto-medium-webfont.woff
mochawesome-report/assets/roboto-medium-webfont.woff2
mochawesome-report/assets/roboto-regular-webfont.woff
mochawesome-report/assets/roboto-regular-webfont.woff2
cypress.config.js
.gitignore
cypress/screenshots/bv-stg-crtapt.cy.js/Beta Vendor Admin  logged with Staff credentials -- Vendor Admin  Calendar  Create appointments by Clicking on the calendar logged with Staff credentials -- Verify it is possible to create an appointment searching and selecting customer from vendor -.png
cypress/screenshots/bv-stg-crtapt.cy.js/Beta Vendor Admin  logged with Staff credentials -- Vendor Admin  Calendar  Create appointments by Clicking on the calendar logged with Staff credentials -- Verify it is possible to edit the Customer - Staff credentials (failed).png
cypress/screenshots/bv-stg-crtapt.cy.js/Beta Vendor Admin  logged with Staff credentials -- Vendor Admin  Calendar  Create appointments by Clicking on the calendar logged with Staff credentials -- Verify The edit appointment modal is display after clicking on Edit booking button - Staff cr.png
cypress/screenshots/bv-stg-crtapt.cy.js/Beta Vendor Admin  logged with Staff credentials -- Vendor Admin  Calendar  Create appointments by Clicking on the calendar logged with Staff credentials -- Verify the New appointment modal is hidden after creating successfully an appointment - S (1).png
cypress/screenshots/bv-stg-crtapt.cy.js/Beta Vendor Admin  logged with Staff credentials -- Vendor Admin  Calendar  Create appointments by Clicking on the calendar logged with Staff credentials -- Verify the New appointment modal is hidden after creating successfully an appointment - Staff.png
