node_modules
cypress/reports/html/
cypress/screenshots/stg-old-adm-crtappt.cy.js/Vendor Admin  logged with Admin credentials -- Verify it is possible to add a new staff - Admin credentials -- before each hook (failed).png
cypress/downloads/downloads.htm
cypress.config.js
.gitignore
cypress/screenshots/*
cypress/downloads/downloads.htm.crdownload
cypress/screenshots/ov-stg-crtapt.cy.js/*
cypress/videos/ov-stg-crtapt.cy.js.mp4
cypress/videos/Wblkn-stg-crtapt.cy.js.mp4
cypress/videos/bv-stg-dltsup.cy.js.mp4
yarn.lock
